DATABASE_URL="Host=aws-0-ap-southeast-1.pooler.supabase.com;Port=5432;Database=postgres;Username=postgres.<your-project-ref>;Password=<your-password>;SSL Mode=Require;Trust Server Certificate=true;"

# Optional if you want to override the JWT secret
# JWT_SECRET="YourLongSecureSecretHere"
